# IE 6400

# Module 3 Extra Practice Problems

Here are some hands-on exercises to practice **Pandas** and **data manipulation skills** using the IMDb dataset linked [here](https://raw.githubusercontent.com/qurat-azim/instructionaldatasets/main/data/imdb.csv).

## **1. Loading and Inspecting the Dataset**
1. Load the dataset into a Pandas DataFrame.
2. Display the first 5 rows of the dataset.
3. Check the shape of the dataset (number of rows and columns).
4. Display the column names and their data types.
5. Check for missing values in the dataset.

## **2. Basic Data Exploration**
6. Find the number of unique movies in the dataset.
7. Find the oldest and newest movie in the dataset.
8. Calculate the average rating of all movies.
9. Find the movie with the highest rating and the movie with the lowest rating.
10. Count the number of movies released each year.

## **3. Filtering and Sorting**
11. Filter the dataset to include only movies released after the year 2000.
12. Find all movies with a rating greater than 8.0.
13. Sort the dataset by `Rating` in descending order.
14. Sort the dataset by `Votes` in descending order and display the top 10 movies.
15. Filter the dataset to include only movies in the "Action" genre.
16. How many movies have more than a million votes?

## **4. Grouping and Aggregation**
17. Group the dataset by `Year` and calculate the average rating for each year.
18. Find the year with the highest average rating.
19. Group the dataset by `Genre` and count the number of movies in each genre.
20. Find the genre with the highest average rating.
21. Group the dataset by `Year` and calculate the total number of votes for each year.

## **5. Further Data Manipulation**
21. Create a new column `Decade` that categorizes movies into decades (e.g., 1980s, 1990s, etc.).
22. Find the top 5 directors with the most movies in the dataset.
23. Calculate the percentage of movies in each genre.
24. Find the movie with the highest number of votes in each year.
25. Create a new column `Rating_Category` that categorizes movies as "Low" (Rating < 5), "Medium" (5 ≤ Rating < 7), or "High" (Rating ≥ 7).
26. Set the Certificate column value of any movie with more than 9.2 IMDB rating as the character 'Z'. How many such movies did you find?
27.